<div class="blog col-xs-8 col-xs-offset-2">
	<div class="blog-category_list_wrapper">
		<ul class="blog-category_list">
			<li class="blog-category"><%= link_to "All", category_path, class: "blog-category_link category_active", remote: true %></li>
		<% @categories.each do |category| %>
			<li class="blog-category"><%= link_to "#{category.name}", category_path(category_id: category.id), class: "blog-category_link", remote: true %></li>
		<% end %>
		</ul>
	</div>

	<div class="blog-post_list">
		<%= render "post_list" %>
	</div>
</div>
