<div class="about col-xs-6 col-xs-offset-3">
	<%= image_tag 'my_avatar.jpg', class: "about-avatar" %>

	<p class="about-name">Harrold Zhou</p>
	<p class="about-profession">Junior Ruby/Rails Developer</p>
	<ul class="about-contact_list">
		<li class="about-contact_wrapper"><a><%= fa_icon "github" %></a></li>
		<li class="about-contact_wrapper"><a><%= fa_icon "weibo" %></a></li>
		<li class="about-contact_wrapper"><a><%= fa_icon "weixin" %></a></li>
	</ul>

	<p class="about-greeting">Hello,</p>
	<p class="about-first_para">My name is Harrold. I am a junior rails developer lived in Changsha, I graduated from colleage in 2016 and worked for a small company for almost a year, but in the past year, I found that my improvement in technology is not great, so I decided to find a new chance to make more progress. But taking into account geographical restriction, I prefer finding a remote job, which can save me more time to do more meaningful things.</p>
	<p class="about-second_para">I began to learn computer science in my senior year in colleage, I found a new intersting toy when I finished my first website with .net, I thought c# & .net was great until I found ruby & rails. How can ruby be so elegant and how can rails be so agile? But after a few months using ruby and rails, I was so confused about some mechanism about rails and ruby, I am eager to explore the secret about these, so I need a better chance to improve myself.	</p>
	<p class="about-third_para">I want to have more knowledge. I want to contribute to some awesome open-source projects. But I know clearly that I am still a junior engineer, so I need to lay the foundation step by step. if you want me to join your company, contact me please! WeChat/Tel: 17373265337</p>
	<p class="about-inscription">Harrold</p>
</div>
