/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "posts";
@import "blogs";

@font-face { font-family: "Raleway-Light";
	src: url(/assets/Raleway-Light.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway-Regular";
	src: url(/assets/Raleway-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Raleway-Bold";
	src: url(/assets/Raleway-Bold.ttf) format("truetype");
}

.navbar {
  height: 400px;
  background-image: asset_url('coding.jpg');
  color: white;
  
  .navbar-content {
    width: 66.66666666%;
 	  margin: 0 16.66666666%;
 	 
		.navbar-links {
			height: 100px;

			.navbar-links_title {
				float: left;
				font-size: 18px;
				margin: 39px 0 0 0;
				font-weight: bold;
			}

			.navbar-links_list {
				float: right;
				list-style: none;
				font-size: 16px;
				
				.navbar-links_ele {
					float: left;
					margin: 40px 30px 0 0;

					a {
						color: white;
						text-decoration: none;
						cursor: pointer;

						&:visited { color: white; }

						.navbar-links_ele_content { font-size: 14px; }
					}
				}
			}
		}
  }

	.navbar-wisdom {
		font-family: "Raleway-Light";
		font-size: 30px;
		font-weight: bold;
		margin: 70px auto;

		.navbar-wisdom_content {
			text-align: center;
			width: 60%;
			margin: 0 auto;
		}
	}
	
}

.notice, .alert {
	width: 60%;
	margin-left: 20%;
	background-color: #d1ffc5;
	padding: 10px 0;
	text-align: center;
	color: #333;
	font-weight: bold;
}

.footer {
	margin-top: 50px;
	margin-bottom: 10px;

	.footer-title {
		color: #3c4858;
		text-decoration: none;
		font-weight: 700;
		font-size: 2.6em;
		font-family: "Raleway-Light";
	}

	.footer-content {
		color: #999;
		font-size: 16px;
		font-family: "Raleway-Light";
	}

	.new_feedback {
		margin-top: 100px;
	}
	
	.footer-contact {
		vertical-align: middle;
		height: 50px;
		margin-top: 20px;

		.footer-site_name {
			line-height: 50px;
			color: #3c4858;
			font-size: 20px;
			display: inline-block;
			font-weight: bold;
		}

		.footer-link_list {
			width: 62%;
			margin: 0 auto;
			font-weight: bold;
			padding: 0;
			color: #3c4858;
			float: none;
			list-style: none;
			font-size: 12px;
			display: inline-block;
			text-align: center;
			
			.footer-link_wrapper {
				padding: 17px;
				display: inline-block;

				a {
					text-decoration: none;
					color: #3c4858;
				}
			}
		}

		.footer-icon_list {
			float: right;
			list-style: none;
			display: inline-block;
			padding: 0;
			
			.footer-icon_wrapper {
				display: inline-block;
				padding: 12px 20px;
				font-size: 18px;
			}
		}
	}
}
