// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-content_wrapper {
	height: 350px;
	margin: 0 0 20px 0;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	color: white;
	font-family: "Raleway-Light";

	.post-basic_info {
		margin: 50px auto 0 auto;
		width: 75%;

		.post-content_title {
			margin: 15px auto;
			font-weight: bold;
		}
	}

	.post-content_charactar {
		width: 75%;
		margin: 15px auto 0 auto;
	}

	.post-content_readmore {
		height: 40px;
		margin: 40px auto 0 auto;

		.post-content_readmore_link {
			font-size: 14px;
			width: 100px;
			height: 17px;
			padding: 12px 30px;
			border-radius: 30px;
			color: white;
			background-color: #ff9800;
			text-decoration: none;

			&:visited { color: white; }
		}
	}
}
