// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// post index page stylesheet
.post-content {
	margin-top: 40px;

	.post-content_wrapper {
		height: 350px;
		margin: 20px 0 20px 0;
		border-radius: 5px;
		box-shadow: 5px 5px 5px #888888;
		color: white;

		.post-basic_info {
			margin: 50px auto 0 auto;
			width: 75%;

			.post-category {
				font-weight: bold;
			}

			.post-content_title {
				margin: 15px auto;
				font-weight: bold;
			}

			.post-created_at {
				font-weight: bold;
			}
		}

		.post-content_charactar {
			width: 75%;
			margin: 15px auto 0 auto;
			color: #bbb;
		}

		.post-content_readmore {
			height: 40px;
			font-family: "Raleway-Light";
			margin: 40px auto 0 auto;

			.post-content_readmore_link {
				font-size: 14px;
				width: 100px;
				height: 17px;
				padding: 12px 30px;
				border-radius: 30px;
				color: white;
				background-color: #ff9800;
				text-decoration: none;

				&:visited { color: white; }
			}
		}
	}
}

// about page stylesheets
.about {
	font-family: "Raleway-Light";

	.about-avatar {
		width: 170px;
		height: 170px;
		margin: -110px auto 0 auto;
		border-radius: 50%;
		display: block;
		text-align: center;
	}

	.about-name {
		text-align: center;
		color: #3c4858;
		font-weight: 800;
		text-decoration: none;
		font-size: 30px;
		margin-top: 30px;
	}

	.about-profession {
		text-align: center;
		color: #3c4858;
		font-size: 16px;
		margin-top: 10px;
		font-weight: bold;
	}

	.about-contact_list {
		display: block;
		text-align: center;
		list-style: none;
		font-size: 16px;
		margin: 20px auto 0 auto;
		width: 200px;
		padding: 0;
		
		.about-contact_wrapper {
			display: inline-block;
			padding: 0 15px;
		}
	}

	.about-greeting {
		margin-top: 20px;
		font-size: 24px;
		font-weight: bold;
	}

	.about-first_para, .about-second_para, .about-third_para, .about-inscription {
		font-size: 16px;
		line-height: 30px;
	}
}

// post show page stylesheet
.post_detail {
	color: #3c4858;
	margin-top: 50px;
	
	.post_detail-title {
		font-weight: bold;
	}

	.post_detail-created_at {
		margin-top: 20px;
		font-size: 16px;
		font-weight: bold;
	}

	.post_detail-content {
		margin-top: 50px;
		font-size: 14px;
	}
}
