<div class="navbar">
	<div class="navbar-content">
		<div class="navbar-links">
			<span class="navbar-links_title">Harrold's Blog</span>
			<ul class="navbar-links_list">
				<li class="navbar-links_ele"><a><%= fa_icon "home" %> <span class="navbar-links_ele_content">&nbspHOME</span></a></li>
				<li class="navbar-links_ele"><a><%= fa_icon "list" %> <span class="navbar-links_ele_content">&nbspBLOG</span></a></li>
				<li class="navbar-links_ele"><a><%= fa_icon "user-circle" %> <span class="navbar-links_ele_content">&nbspABOUT</span></a></li>
				<li class="navbar-links_ele"><a><%= fa_icon "envelope-open" %> <span class="navbar-links_ele_content">&nbspCONTACT</span></a></li>
			</ul>
		</div>

		<div class="navbar-wisdom">
			<p class="navbar-wisdom_content">“ Perfection is achieved not when you have nothing more to add , but when you have nothing left to take away. ”  - Antoine de Saint-Exupery</p>
		</div>
	</div>
</div>
